:global(.light .flow-background) {
  background-color: var(--gray-3);
}
:global(.dark .flow-background) {
  background-color: var(--gray-1);
}

:global(.flow-controls) {
  background-color: var(--gray-12);
}

:global(.flow-controls > button) {
  background-color: var(--gray-12);
}

:global(.flow-controls > button:hover) {
  background-color: var(--gray-11);
}

:global(.flow-controls > button > svg) {
  fill: var(--gray-1);
}
